title {
  font-size: 600%;
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: 300%;
  color:darkblue;
}
h1,h2,p{ 
  text-align: center;
}

h2 {
  color: darkorchid;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 200%;
  font-style: italic;
}
h3 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
#container {
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  background-color: bisque;
  justify-content: space-around;
}
p{
  border: 2px solid gray;
  border-radius: 5px;
  color: purple;
  background-color: lightgray;
  font-size: larger;
}
